body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }

#contenedor{
    width: 300px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border: 2px solid;
    border-radius: 3%;
    animation: borde 6s linear infinite;
  }
#a{
    color: white;
    animation: Titulo 6s linear infinite;
    font-family: monospace;
    font-size: 300%;
}
#ae{
  color: rgb(245, 199, 247);
  text-align: end;
}
.btn{
    border:0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid cyan;
    padding: 14px 10px;
    width: 210px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: cursive;
    font-size: 100%;
}
.btn:hover {
  text-align: center;
  border: 2px solid #2ecc71;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(98, 248, 241);
  border-radius: 50%;
  width: 79%;
  height: 30%;
  transition: transform 30s ease-in-out;
}
.avatar:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@keyframes Titulo{
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 50rem;
    top: 0rem;
    color: #bb39ee;
  }
  30% {
    top: 50rem;
    left: 5rem;
    color: rgb(29, 247, 210);
  }
  60%{
    top: 50rem;
    left: 0;
    color: #8ae91d;
  }
  70%{
    color: #d8a20e;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes borde{
  0%{
    color: rgb(75, 72, 72);
  }

}

/*ventana*/

.ventana {
    opacity: 94%;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 80px;
    min-height: auto;
    border-radius: 3%;
    position: absolute;
    left: 1%;
    top: 5%;
    right: 1.5%;
    display: none;
}

#cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
    cursor: pointer;
}