.ventana {
    opacity: 94%;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 80px;
    min-height: auto;
    border-radius: 3%;
    position: absolute;
    left: 1%;
    top: 2%;
    right: 1.5%;
    display: none;
}

#cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
    cursor: pointer;
}